* {
  font-size: 30px;
  color: red;
}

/* p {
  font-size: 50px;
  color: aquamarine;
}
#doanvan2 {
  font-size: 20px;
  color: blue;
}
.doanvan {
  font-size: 30px;
  color: red;
}
.doanvan3 {
  text-decoration: underline;
} */

/* .btnAddToCart {
  border: 1px solid black;
  border-radius: 10px;
  padding: 8px 16px;
  display: inline-block;
  background-color: black;
  color: white;
  text-decoration: none;
}
.btnAddToCart:hover {
  background-color: white;
  color: black;
} */

/* trạng thái bình thường */
a:link {
  font-size: 25px;
}
/* rê chuột vào link  */
a:hover {
  color: red;
}
/* đã truy cập */
a:visited {
  color: brown;
}
/* click vào và giữ chuột */
a:active {
  font-size: 50px;
}
p::first-line {
  font-weight: bold;
  color: red;
}
p::first-letter {
  font-size: 50px;
  color: blue;
}
